body {
  min-height: 100vh;
  background-color: #F7F8FD;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.quiz {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  background-color: #FBFBFB;
  color:#081c82;
  border-radius: 1rem;
  width: 320px;
  box-shadow:
    0 2.8px 2.3px -10px rgba(0, 0, 0, 0.022),
    0 6.7px 5.5px -10px rgba(0, 0, 0, 0.032),
    0 12.5px 10.4px -10px rgba(0, 0, 0, 0.04),
    0 22.3px 18.5px -10px rgba(0, 0, 0, 0.048),
    0 41.8px 34.7px -10px rgba(0, 0, 0, 0.058),
    0 100px 83px -10px rgba(0, 0, 0, 0.08)
}

.quiz__title {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color:#081c82;
  font-size: 2rem;
  padding: 10px 15px;
  margin-top: 40px;
  text-align: center;
}

.quiz__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 180px;
  border-radius: 50px;
  border: 1px solid #9aa6c5;
  overflow: hidden;
}

.filler {
  background: #081c82;
  height: 100%;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: width 1s linear;
}

.filler__text {
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 2px;
  color: #ed1b24;
  font-weight: 700;
}

.question-card {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:10px 10px;
  width:100%;
}

.question-card__number {
  color: #ec6e4c;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 24px;
}

.question-card__current-number {
  font-size: 1.1rem;
}

.question-card__total-number {
  font-weight: normal;
}

.question-card__category {
  font-weight: bold;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.question-card__question {
  margin-bottom: 24px;
}

.question-card__button-container{
  display: flex;
  justify-content: center;
}


.question-card__button--correct {
  background: #5fcc52e0 !important;
  border: none !important;
  box-shadow: 1px 2.9px 16px rgba(31, 209, 120, 0.4);
  transition: background .1s;
  color:rgb(0,128,0) !important;
}

.question-card__button {
  padding: 6px;
  align-self: center;
  margin: 4px 0;
  border-radius: 1rem;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 90%;
  border: 1px solid rgba(0,0,0,.2);
  transition: .2s;
}

.question-card__button:hover {
  background:rgba(0, 0, 0, 0.05);
  transition: background .3333s;
}

.question-card__button:disabled {
  border-color:  rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.7);
  transition: .1s;
}

.question-card__button:disabled:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: no-drop;
}

.quiz__button {
  padding: 6px;
  align-self: center;
  margin: 4px 0;
  border-radius: 1rem;
  border: none;
  background-color: #081c82;
  box-shadow: 1px 2.9px 16px rgba(8,28,130, 0.4);
  color: #fff;
  transition: .2s;
}

.quiz__button--next {
  width: 90px;
  margin-top: 18px;
  margin-bottom: 0px;
  
}

.quiz__button--next:hover::after {
  content: " ⟶";
}

.quiz__button--start {
  margin-top: 20px;
}

.fas {
  margin-bottom: 24px;
}

svg.CircularProgressbar {
  width: 10%;
  align-self: flex-end;
}